@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

:root {
	--bg-light-color: #fff;
	--bg-dark-color: #000;
	--bg-after-color: rgba(14, 12, 14, 0.6);
	--bg-poke-color-normal: rgb(161, 157, 149);
	--bg-poke-color-fighting: rgb(198, 96, 96);
	--bg-poke-color-flying: rgb(193, 105, 162);
	--bg-poke-color-poison: rgb(131, 78, 159);
	--bg-poke-color-ground: rgb(209, 158, 62);
	--bg-poke-color-rock: rgb(210, 166, 105);
	--bg-poke-color-bug: rgb(78, 154, 75);
	--bg-poke-color-ghost: rgb(112, 68, 121);
	--bg-poke-color-steel: rgb(174, 143, 64);
	--bg-poke-color-fire: rgb(219, 83, 15);
	--bg-poke-color-water: rgb(102, 174, 196);
	--bg-poke-color-grass: rgb(57, 139, 91);
	--bg-poke-color-electric: rgb(125, 106, 7);
	--bg-poke-color-psychic: rgb(177, 60, 144);
	--bg-poke-color-ice: rgb(100, 132, 192);
	--bg-poke-color-dragon: rgb(135, 85, 185);
	--bg-poke-color-dark: rgb(151, 147, 135);
	--bg-poke-color-fairy: rgb(136, 74, 123);
	--bg-poke-color-unknown: rgb(111, 84, 14);
	--bg-poke-color-shadow: rgb(95, 6, 68);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(35, 35, 35, 0.87);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	background-color: rgb(242, 242, 242);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.App {
	max-width: 920px;
	margin: 0 auto;

	@media screen and (max-width: 920px) {
		max-width: 100%;
		margin: 0 1rem;
	}
}

.app-pagination {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	margin: 1rem 0;

	@media only screen and (max-width: 980px) {
		width: 100%;
		justify-content: center;
	}

	@media only screen and (max-width: 748px) {
		// justify-content: center;
		flex-flow: row wrap;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		min-width: 42px;
		min-height: 42px;
		border: 1px solid rgb(221, 221, 221);
		cursor: pointer;
		transition: all 0.3s ease;

		&--active {
			background-color: #191919;
			border-color: #191919;
			color: #fff;
		}

		&--disabled {
			cursor: not-allowed;
			background-color: #ccc;
			opacity: 0.7;
		}

		&:hover {
			background-color: #f0951f;
			border-color: #f0951f;
			color: #fff;
			transform: scale(1.1);
		}

		&:active:not(.app-pagination__item--disabled) {
			background-color: #191919;
			transform: scale(0.9);
		}

		&:first-child {
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
		}

		&:last-child {
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}

		a {
			padding: 8px 16px;
		}
	}
}
